<mat-card>
  <mat-card-header>
    <mat-card-title>Converter</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <div class="content" fxLayout="row" fxFlexFill>
        <div class="item" fxFlex="30">
          <mat-form-field class="input-item">
            <mat-label>€</mat-label>
            <input matInput name="valueToConvert" [(ngModel)]="valueToConvert" [value]="valueToConvert | number">
            <mat-icon matSuffix>euro_symbol</mat-icon>
          </mat-form-field>
        </div>

        <div class="item" fxFlex="30">
          <mat-form-field class="input-item">
            <mat-label>Fixed Rate</mat-label>
            <input matInput type="number" placeholder="Fixed Rate" name="currentFixedRate" [(ngModel)]="currentFixedRate" disabled/>
          </mat-form-field>

          <mat-form-field class="input-item">
            <mat-label>Custom Rate</mat-label>
            <input matInput type="number" placeholder="Custom Rate" name="customRate" [(ngModel)]="customRate"/>
          </mat-form-field>
        </div>

        <div class="item" fxFlex="3O">
          <mat-form-field class="input-item">
            <mat-label>$</mat-label>
            <input matInput name="resultValue" [value]="convertedValue(valueToConvert, currentFixedRate, customRate) | number" disabled/>
            <mat-icon matSuffix>attach_money</mat-icon>
          </mat-form-field>
        </div>

        <div class="item" fxFlex="10">
          <mat-icon class="swap-icon" aria-hidden="false" aria-label="Swap currency">swap_horiz</mat-icon>
        </div>

      </div>
    </form>
  </mat-card-content>
</mat-card>
